@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div#__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --swiper-wrapper-transition-timing-function: linear;
}
.form {
    border-radius: 10px;
    border: 0.5px solid #58C7FE;
    background: linear-gradient(104deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
  }
  .card img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .card .prose p {
    max-height: 60px; /* Ajuster selon vos besoins */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .borderHoverA{
    border-width: 4px;
    border-style: solid;
    border-color: white;
  }
  .borderHoverA:hover{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to left, white, #FFDC1D) 1;
    box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
  }
  .borderHoverB{
    border-width: 4px;
    border-style: solid;
    border-color: #CDFF0C;
  }
  .borderHoverB:hover{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, white, #CDFF0C) 1;
    box-shadow: 0px 4px 25px 0px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
  }